*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site-header {
    padding: 50px 0;
}
body {
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}
a{
    text-decoration: none;
    color: #fff;
}
.weather-cards {
    background-size: cover;
    padding: 70px 0;
    min-height: 350px;
    background-image: url(../Images/banner.png);
}
.logo{
    width: 64px;
    height: 38px;
}
.menu .menu-item a, .current-menu-item {
    padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
}
.menu .menu-item a:hover {
    border: 2px solid #009ad8;
}
.current-menu-item{
    border: 2px solid #009ad8;
}
.find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
}
.find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}
.find-location {
    position: relative;
    margin-bottom: 70px;
}
form input, .find-location input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.site-footer {
    background: #262936;
    padding: 50px 0;
}
.site-footer .subscribe-form input[type="text"] {
    padding: 20px 100px 20px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
}
.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
form input[type="submit"], .find-location input[type="button"]{
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
}
.site-footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}
.site-footer .social-links a:hover{
    background: #009ad8;
    color: white;

}
.forecast-container .forecast:nth-child(even) {
    background-color: #262936;
}